# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# build
/dist
lerna-terminal-0.0.0-semantically-released.tgz
/package

# misc
.DS_Store
.idea
.vscode

npm-debug.log*
log.txt
